{% extends 'store/base.html' %}

{% block content %}

    <div class="container">
      <div class="row">
        <div class="box">
          <hr>
          <h1 class="intro-text text-center">{{ album_title }}</h1>
          <hr class="detail-separator">
          <div class="col-md-6">
            <img src="{{ thumbnail }}" alt="{{ album_title }}" class="img-responsive">
          </div>
          <div class="col-md-6">
            <div style="margin-bottom:45px">
              <h2 class="text-center artist_name">Artistes</h2>
              <p>{{ artists_name }}</p>
            </div>

            <h2 class="text-center artist_name">Réserver {{ album_title }}</h2>
            <p style="margin-bottom: 20px;">Demandez-nous de mettre de côté {{ album_title }} et venez le chercher dès demain en magasin ! </p>
            <form class="form-inline" action="{% url 'store:contact' %}" method="post">
              {% csrf_token %}

              <div class="form-group  {% if form.name.errors %}has-warning has-feedback{% endif %}">
                <label for="{{ form.name.id_for_label }}" class="control-label">Nom</label>
                {{ form.name }}
              </div>
              <div class="form-group  {% if form.email.errors %}has-warning has-feedback{% endif %}">
                <label for="{{ form.email.id_for_label }}" class="control-label">E-mail</label>
                {{ form.email }}
              </div>
              <input type="hidden" class="hidden" value="{{ album_id }}" name="album_id">

              <button type="submit" class="btn btn-success">Réserver</button>
            </form>
            {% if errors %}
              <div>
                {# why is this generating an ul and li? #}
                {% for key, error in errors %}
                  {{ error|escape }}
                {% endfor %}
              </div>

            {% endif %}
          </div>
        </div>

      </div>
    </div>
    <!-- /.container -->

{% endblock %}
